* {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 83%;
  margin-left: 250px;
  padding-top: 30px;
  transition: margin-left 0.2s ease-in;
}

.container.inactive {
  width: 100vw;
  margin-left: 80px;
  padding-top: 30px;
  padding-left: 50px;
}
